body {
    margin: 0;
    background-color: gainsboro;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    font-size: 30px;
    text-shadow: 1px 1px 0 gainsboro;
}

header {
    height: 88px;
    background-color: #121214;
    color: #737380;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    font-size: 20px;
   
    
}

.navbarContainer li {
    width:auto;
    height: auto;
    padding: 10px 40px;
    list-style: none;
    font-weight: bold;
}

.navbarContainer li:hover {
    background-color: gainsboro;
    border-radius: 5px;
    transition: all .2s ease;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    

    
}

.titulo{
    background-color: blue;
}

.navbarContainer{
  

}

#navList{
 display: flex;
 flex-direction: row;
 
}
